.exibindo_Pókemon {
    border: 1px solid red;
    background-color: bisque;
    height: 430px;
}

.editando_Pokemon {
    border: 1px solid purple;
}

.containerPrincipal {
    width: 100%;
}

.altura_Maxima {
    height: 100%;
}