td {
    width: 10%;
}

.cotainer-principal {
    width: 80%;
    height: 100%;
}

main {
    width: 100%;
}

.config-font {
    font-weight: bolder;
}

.bg {
    background-color: bisque;
}

.showTipo {
    letter-spacing: 5px;
}

.showNome {
    font-size: x-large;
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 2px;
}                                                                                                                                                                               

