.links-nav {
    text-decoration: none;
    color: beige;
    font-size: 2em;
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 2px;
}

.links-nav:hover {
    color: bisque;
    letter-spacing: 4px;
    transition: 0.2s;
}

@media screen and  (max-width: 800px) {
    .links-nav {
        font-size: 1.5em;
    }
}

@media screen and  (max-width: 415px) {
    .links-nav {
        font-size: 1.2em;
    }
}