.link_personalizado {
    color: beige;
    font-size: 2em;
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 2px;
}

.link_personalizado:hover {
    color: bisque;
    letter-spacing: 4px;
    transition: 0.2s;
}